
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container text-center" style="flex: 1;">
    <div class="profile" style="margin-top: 50px;" >
        <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary" style="margin-bottom: 2%;">Change Password</button>
        </form>
    </div>
    <!-- <button type="button" class="btn btn-primary" style="margin-bottom: 2%;"><a href="/edit_profile" style="text-decoration: none; color: white;">Edit Profile</a></button> -->
</div>


{% endblock %}